* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}
  
body {
    margin: 0;
    padding: 0;
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
      ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    background-color: darkslategray;
}

#map { height:180px; }
  
/* Page Layout */
.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
}

.main_form {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: 25px;
    justify-content: space-around;
    display: flex;
}

.header {
    display: block;
    padding: 15px;
    border-radius: 4px;
    background-color: hsl(48, 100%, 67%);
    margin-top: 25px;
}

.page_item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 4px;
    background-color: #efefef;
    height: fit-content;
    margin: 20px;
}

.form_item {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 5px;
}
